html, body {
    height: 100%
}

body {
    background-color: #f1f1f1;
}

.board {
    position: relative;
    height: 100%
}
#board-backdrop {
    display: none;
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
#board-backdrop.open {
    display: block;
}

#board-sidebar {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    width: 250px;
    margin-left: -250px;
    float: none;
    padding-top: 0;
    background-color: #fff;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate(-250px, 0px);
    -ms-transform: translate(-250px, 0px);
    -webkit-transform: translate(-250px, 0px);
    -o-transform: translate(-250px, 0px);
    -moz-transform: translate(-250px, 0px);
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    z-index: 1010;
}
#board-sidebar.open {
    margin-left: 0;
    transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
}

#board-sidebar .board-sidebar-content {
    width: 100%;
}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    #board-sidebar {
        position: relative;
        display: block;
        width: 30%;
        float: left;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-left: 0;
        transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        overflow: hidden;
    }
    .board:before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        background-color: #fff;
        border-right: 1px solid #eee;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

#board-sidebar ul {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    list-style: none;
}
#board-sidebar ul > li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
#board-sidebar ul > li > a {
    font-size: 18x;
    color: #3d3d3d;
    text-decoration: none;
}
#board-sidebar ul > li:hover a {
    color: #9896A4;
}


#board-sidebar .board-header {
    margin: 0;
    padding: 30px;
}
#board-sidebar .board-header .title {
    margin: 0;
}
#board-sidebar .board-header .desc {
    color: #9896A4;
    font-weight: 400;
}
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    #board-sidebar .board-header {
        padding: 50px;
    }
}

#board-body {
    position: relative;;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 46px;
    float: left;
}
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    #board-body {
        width: 70%;
        padding-top: 0;
        float: none;
        margin-left: 30%;
    }
}

#board-search {
    padding-right: 30px;
    padding-left: 30px;
}
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    #board-search {
        padding-right: 50px;
        padding-left: 50px;
    }
}
.ssc-form-group {
    margin-bottom: 15px;
}

.ssc-form-control {
    display: block;
    width: 90%;
    height: 34px;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#board-sidebar .section {
    padding: 30px;
}
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    #board-sidebar .section {
        padding: 50px;
    }
}
#board-sidebar .section .title {
    margin-top: 15px;
    margin-bottom: 15px;
}
#board-sidebar .section ul li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}



.ssc-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
.ssc-btn:active, .ssc-btn:hover {
    outline: none;
}
.sidebar-btn-wrapper {
    position: fixed;
    display: block;
    width: 100%;
    height: 47px;
    top: 0;
    left: 0;
    background-color: #fff;
    background-image: none;
    z-index: 1001;
    /*-webkit-transition: all .3s ease-out;*/
    /*-o-transition: all .3s ease-out;*/
    /*transition: all .3s ease-out;*/
}
.sidebar-btn-wrapper.open {
    /*width: 50px;*/
}

.board-sidebar-btn {
    position: fixed;
    width: 50px;
    padding: 13px;
    top: 0;
    left: 0;
    background-color: #fff;
    background-image: none;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 0;
    vertical-align: middle;
    outline: none;
    opacity: .9;
    z-index: 1010;
    transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.board-sidebar-btn span {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    background-color: #6d6d6d;
    opacity: 1;
}
.board-sidebar-btn span + span {
    margin-top: 5px;
}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    .board-sidebar-btn {
        display: none;
    }
}

.board-sidebar-btn .light {

}

.board-sidebar-btn.open {
    width: 50px;
    height: 47px;
    border-bottom: 1px solid #eee;
    opacity: 1;
    transform: translate(250px, 0px);
    -ms-transform: translate(250px, 0px);
    -webkit-transform: translate(250px, 0px);
    -o-transform: translate(250px, 0px);
    -moz-transform: translate(250px, 0px);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: .1s;
    /*border: 1px solid transparent;*/
}
.board-sidebar-btn span {
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.board-sidebar-btn.open .close-lt {
    position: absolute;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 20px;
}
.board-sidebar-btn.open .close-no {
    display: none;
}
.board-sidebar-btn.open .close-rt {
    position: absolute;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 15px;
}

.board-list {
    position:relative;
    padding: 20px;
}
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    .board-list {
        padding: 50px;
    }
}
.board-item {
    position: relative;
    margin-bottom: 50px;
    padding: 20px 20px 0 20px;
    background-color: #fff;
}
.board-item .item-header h2 {
    font-size: 20px;
}
.board-item .item-body {
    padding: 20px 0;
}
.board-item .item-body ol,.board-item .item-body ul {
    padding-left: 26px;
}
.board-item .item-body .img-wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 10px;
}
.board-item .item-body .img-wrapper img {
    width: 100%;
}
.board-item .item-body .img-wrapper p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
}
.board-item .item-body p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.5;
    word-break: keep-all;
}

.board-item .item-footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:15px;
    padding-bottom:15px;
    background-color: #f7f7f7;
}
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    .board-item {
        padding: 50px 50px 0 50px;
    }
    .board-item .item-header h2 {
        font-size: 26px;
    }
    .board-item .item-body .img-wrapper {
        margin-left: -50px;
        margin-right: -50px;
    }
    .board-item .item-body ol,.board-item .item-body ul {
        padding-left: 30px;
    }
    .board-item .item-body .img-wrapper p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .board-item .item-body p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1.5;
        word-break: keep-all;
    }

    .board-item .item-footer {
        margin-left: -50px;
        margin-right: -50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top:30px;
        padding-bottom:30px;
    }
}

.write-wrapper {
    padding: 40px;
}
.write-wrapper .ssc-form-group {}
.write-wrapper .ssc-form-group .ssc-form-control {
    outline: 0;
}
.write-wrapper .title-info {
    margin-bottom: 15px;
}
.write-wrapper .title-info .ssc-form-group {
    margin-bottom: 0;
}
.write-wrapper .ssc-form-group input[type="text"].ssc-form-control {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
    border: none;
    background: transparent;
}
#post-title {
    height: 52px;
    font-size: 26px;
}
#post-sub-title {
    height: 40px;
    font-size: 20px;
}
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    .write-wrapper {
        padding: 50px;
    }
}

.submit-btn-wrapper {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    padding: 7px 10px 6px 10px;
    opacity: 1;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.submit-btn-wrapper button {
    float: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.submit-btn-wrapper .btn-save {
    margin-right: 5px;
}
.submit-btn-wrapper.close {
    right: -100px;
    opacity: 0;
}
