html, body {
    width: 100%;
    height: 100%;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
}

#board-sidebar {
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    float:none;
    padding-top: 0;
    background-color: #fff;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    -webkit-transform: translate(-300px, 0px);
    -o-transform: translate(-300px, 0px);
    -moz-transform: translate(-300px, 0px);
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    z-index: 500;
}
#board-sidebar.open {
    margin-left: 0;
    transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    #board-sidebar {
        position: relative;
        width: 30%;
        float: left;
        margin-left: 0;
        padding-top: 10px;
        transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
    }
}

#board-sidebar ul {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    list-style: none;
}
#board-sidebar ul > li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
#board-sidebar ul > li > a {
    font-size: 18x;
    color: #3d3d3d;
    text-decoration: none;
}
#board-sidebar ul > li:hover a {
    color: #9896A4;
}


#board-sidebar .board-header {
    margin: 0;
    padding: 50px;
}
#board-sidebar .board-header .title {
    margin: 0;
}
#board-sidebar .board-header .desc {
    color: #9896A4;
    font-weight: 400;
}

#board-body {
    position: relative;;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    background-color: #e3e3e3;
}
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    #board-body {
        width: 70%;
    }
}

#board-search {
    padding-right: 50px;
    padding-left: 50px;
}

.ssc-form-group {
    margin-bottom: 15px;
}

.ssc-form-control {
    display: block;
    width: 90%;
    height: 34px;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#board-sidebar .section {
    padding: 50px;
}
#board-sidebar .section .title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ssc-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
.ssc-btn:active, .ssc-btn:hover {
    outline: none;
}

.board-sidebar-btn {
    position: absolute;
    display: block;
    padding: 8px 10px;
    top: 0;
    left: 0;
    border-radius: 0;
    background-color: #fff;
    z-index: 500;
    transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;

}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) {
    .board-sidebar-btn {
        display: none;
    }
}

.board-sidebar-btn .light {

}

.board-sidebar-btn.open {
    transform: translate(250px, 0px);
    -ms-transform: translate(250px, 0px);
    -webkit-transform: translate(250px, 0px);
    -o-transform: translate(250px, 0px);
    -moz-transform: translate(250px, 0px);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: .1s;
}